
@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Light.eot');
	src: local('Open Sans Light'), local('OpenSans-Light'),
		url('../fonts/OpenSansLight.woff2') format('woff2'),
		url('../fonts/OpenSans-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
  font-display: swap;
}


@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-Regular.eot');
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
	  url('../fonts/OpenSansRegular.woff2') format('woff2'),
		url('../fonts/OpenSans-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
  font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('OpenSans-SemiBold.eot');
	src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
    url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
		url('../fonts/OpenSans-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
  font-display: swap;
}


html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  min-width: 1200px;
  font-family: "OpenSans", sans-serif;
  font-weight: 400;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  bottom: none;
  border-color: transparent;
  cursor: pointer;
}

.flex {
  display: flex;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section-title{
  margin: 0;;
  margin-bottom: 40px;
  font-weight: 300;
  font-size: 36px;
  line-height: 130%;
  color: #1C1C1C;
}

.section-descr {
  margin: 0;
  margin-bottom: 50px;
  font-size: 16px;
  line-height: 22px;
  color: #787878;
}

.section-offset {
  padding-top: 87px;
  padding-bottom: 160px;
}


.header{
  padding: 36px 0;
  border-bottom: 1px solid #c4c4c4;
  background-color: #fff;
}

.header-link {
  font-weight: 600;
  color: #1c1c1c;
  font-size: 15px;
}

.header-link:hover {
  color: #3172B9;
}

.btn {
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  padding: 15px 35px;
  background-color: #3172b9;
  color: white;
  border-radius: 3px;
}

.btn:hover{
  background-color: blue;
}

.header-container {
  align-items: center;
}

.header-logo {
  margin-right: auto;
}

.header-nav {
  margin-right: 52px;
}

.header-list-item:not(:last-child) {
  margin-right: 52px;
}

/* hero */
.hero {
  padding: 100px 0;
  padding-top: 100px;
  padding-bottom: 150px;
  background-image: url('../img/herobg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-content {
  max-width: 50%;
  flex-direction: column;
  align-items: flex-start;
}

.hero-title {
  margin: 0;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 40px;
  line-height: 130%;
}

.hero-descr {
  margin: 0;
  margin-bottom: 34px;
  font-size: 16px;
  line-height: 155%;
  color: #787878;
}

.hero-wrapper {
  flex-direction: column;
  align-items: center;
}

.hero-btn {
  margin-bottom: 14px;
  min-width: 250px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 14px;
}

.hero-secure {
  text-transform: uppercase;
  font-size: 11px;
  line-height: 155%;
  color: #787878;
  background-image: url('../img/secure.svg');
  background-position: left center;
  background-size: 14px 17px;
  background-repeat: no-repeat;
  padding-left: 30px;
}

/* services */
.servisec-title {
  text-align: center;
}

.servisec-descr {
  text-align: center;
}
.services-item {
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  width: 270px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}

.services-item:not(:nth-child(4n)) {
  margin-right: 30px;
}

.services-item:hover {
  cursor: pointer;
  background-color: blue;
}

.services-item-descr:hover .services-item {
  color: #fff;
}

.services-item-icon:hover .services-item-icon path {
  fill: white;
}

.services-item-icon {
  margin-bottom: 25px;
}

.services-item-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 130%;
  color: #1C1C1C;
}

.services-item-descr {
  margin: 0;
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
}

.services {
  border-bottom: 1px solid #c4c4c4;
}

/* articles */
.articles-list {
  flex-wrap: wrap;
}

.articles-item {
  width: 570px;
  margin-bottom: 30px;
}

.articles-item:not(:nth-child(2n)) {
  margin-right: 30px;
}

.blog-preview {
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}

.blog-preview-image {
  object-fit: cover;
}

.blog-preview-text {
  padding: 30px;
}

.blog-preview-time {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  line-height: 150%;
  color: #787878;
}

.blog-preview-title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 130%;
  color: #1C1C1C;
}

.blog-preview-descr {
  margin: 0;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
  max-width: 210px;
}

.articles {
  border-bottom: 1px solid #dadada;
}


/* clients */
.clients-item {
  flex-direction: column;
  width: 370px;
  padding: 50px 36px;
  padding-bottom: 30px;
  border: 1px solid #E4E4E4;
  border-radius: 5px;
}


.clients-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.clients-item-descr {
  margin: 0;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.clients-user {
  margin-top: auto;
  align-items: center;
  border-top: 1px solid #dadada;
  width: 100%;
  padding-top: 28px;
}

.clients-avatar img {
  width: 100%;
  height: 100%;
  border: 2px solid #3172B9;
  border-radius: 100%;
}

.clients-avatar {
  flex-shrink: 0;
  width: 67px;
  margin-right: 17px;

}

.clients-name {
  margin-bottom: 5px;
  font-size: 17px;
  line-height: 180%;
  color: #1C1C1C;
}

.clients-post {
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.clients {
  border-bottom: 1px solid #dadada;
}

/* contacts */

.contacts-address {
  font-style: normal;
}

.contacts-item {
  flex-direction: column;
  width: 370px;
  background-position: left top;
  background-repeat: no-repeat;
  background-size: 29px 29px;
  padding-top: 48px;
}

.contacts-item-address {
  background-image: url(../img/location.svg);
}
.contacts-item-phone {
  background-image: url(../img/phone.svg);
}

.contacts-item-mail {
  background-image: url(../img/message.svg);
}

.contacts-item:not(:nth-child(3)) {
  margin-right: 30px;
}

.contacts-item-caption {
  margin-bottom: 30px;
  font-size: 17px;
  line-height: 180%;
  color: #1C1C1C;
}

.contacts-item-text {
  max-width: 210px;
  margin: 0;
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.contacts-item-link {
  font-size: 14px;
  line-height: 180%;
  color: #787878;
}

.contacts {
  border-bottom: 1px solid #dadada;
}
/* join us */

.join-us {
  border-bottom: 1px solid #c4c4c4;
}


.form {
  padding-left: 55px;
  padding-right: 55px;
}

.form-top {
  justify-content: space-between;
  margin-bottom: 19px;
}

.form-left {
  width: 49%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-right {
  width: 50%;
}

.join-us-title {
  text-align: center;
}

.join-us-descr {
  text-align: center;
  margin-bottom: 30px;
}

.form-input {
  border: 1px solid #dadada;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 16px 28px;
  width: 251px;
  height: 60px;
}

.form-select {
  border: 1px solid #dadada;
  border-radius: 50px;
  box-sizing: border-box;
  padding: 16px 28px;
  width: 251px;
  height: 60px;
}

.form-textaria {
  border: 1px solid #dadada;
  border-radius: 20px;
  box-sizing: border-box;
  resize: none;
  padding: 16px 28px;
  width: 100%;
  height: 100%;
}


.form-wrapper {
  flex-direction: column;
  align-items: center;
}

.form-bottom {
  justify-content: flex-end;
}

.form-btn {
  min-width: 230px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 50px;
  margin-bottom: 10px;
}

.form-check {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.form-check input {
  margin-right: 8px;
}

.form-check a {
  color: #3172b9;
  border-bottom: 1px solid #3172b9;
}

 /* footer */
.footer {
  padding: 42px 0;
}

.footer-copy {
  font-size: 12px;
  line-height: 16px;
  color: #787878;
}

.footer-container {
  align-items: center;
  justify-content: space-between;
}

.footer-left,
.footer-right {
  align-items: center;
}

.footer-logo {
  margin-right: 25px;
}

.footer-item {
  font-size: 15px;
  line-height: 20px;
  color: #787878;
}

.footer-item:not(:last-child) {
  margin-right: 28px;
}

.social-link {
  display: block;
  width: 24px;
  height: 24px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.social-item:not(:last-child) {
  margin-right: 24px;
}

.footer-nav {
  margin-right: 56px;
}

.social-link-tw {
background-image: url('../img/twitter.svg');
}

.social-link-linkedin {
background-image: url('../img/link.svg');
}

.social-link-mail{
  background-image: url('../img/mail.svg');
}
